@import 'tailwindcss/base';
@import './base/reset.css';
@import './base/typography.css';

@import 'tailwindcss/components';
@import './components/cells.css';
@import './components/boards.css';
@import './components/tabs.css';
@import './components/buttons.css';

@import 'tailwindcss/utilities';

@import './layout/mobile.css';
@import './layout/tablet.css';
@import './layout/desktop.css';
